<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
    
	<configuration>
		<typeAliases>
			<typeAlias type="systems.domains.MemberVO" alias="member"/>
			<typeAlias type="systems.domains.BoardVO" alias="board"/>
			<typeAlias type="systems.domains.ContentVO" alias="content"/>
			<typeAlias type="systems.domains.ReplyVO" alias="reply"/>
			<typeAlias type="systems.domains.AdVO" alias="ad"/>
			<typeAlias type="systems.domains.CalendarVO" alias="calendar"/>
			<typeAlias type="systems.domains.PetVO" alias="pet"/>
			<typeAlias type="systems.domains.ContentReplyVO" alias="contentreply"/>
			
		</typeAliases>
		<typeHandlers>
	        <typeHandler handler="systems.domains.CLOBHandler" javaType="String" jdbcType="LONGVARCHAR"/>
	    </typeHandlers>
	
	</configuration>