<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdMap">

	<!-- 관리자 게시글 리스트 -->
	<select id="adList" resultType="ad">
		select *
		from AD
	</select>
	<!-- 광고 삭제 -->
	<delete id="adDelete" parameterType="ad">
		delete from ad
		where
		ad_num = #{ad_num}
	</delete>
	
	<!-- 광고 등록 이미지까지. date형 날짜 ' '로 처리해줘야지 날짜로 제대로 들어감.  SEQ_AD.nextval
	' ' 안하면 2021-03-25 뺄셈 값이 insert됨. -->
	<insert id="adInsertConfirm" parameterType="ad">
	<!-- Insert into ad(ad_num,ad_name,ad_link,startdate,enddate,ad_img, dog, cat, revenue)
	values(SEQ_AD.nextval,'${ad_name}','${ad_link}','${startdate}','${enddate}','${ad_img}',0,0,${revenue}) -->
	Insert into ad(ad_num,ad_name,ad_link,startdate,enddate,ad_img, dog, cat, revenue)
	values(SEQ_AD.nextval,#{ad_name},#{ad_link},
	#{startdate},#{enddate},#{ad_img},0,0,#{revenue})
	
	
	</insert>
	
	<select id="adContent" parameterType="ad" resultType="ad">
		select *
		from ad
		where ad_num = #{ad_num}
	</select>
	
	
	
	<update id="adModify" parameterType="ad">
			update ad
		set ad_name = '${ad_name}', ad_img = '${ad_img}', ad_link = '${ad_link}',
		startdate = '${startdate}', enddate = '${enddate}' , revenue = ${revenue}
		where ad_num = ${ad_num}
	</update>
	
	<select id="adRevenue" parameterType="ad" resultType="ad">
		select substr(startdate,6,2) as startdate, sum(revenue) as revenue
		from ad
		group by substr(startdate,6,2)
		order by startdate asc
	</select>
	
	
</mapper>