<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardMap">



	<!-- 관리자 게시글 리스트 -->
	<select id="boardList" resultType="board">
		select *
		from board
	</select>

	<!-- 관리자 게시글 삭제 -->
	<delete id="boardDelete" parameterType="board">
		delete from board
		where
		bo_num = #{bo_num}
	</delete>

	<!-- 관리자 게시글 숨기기 버튼  -->
 	 <update id="boardHide" parameterType="board">
		update board
		set bo_state = 'n'
		where bo_num = #{bo_num} and bo_state = 'y'
	</update> 
 <!-- 	 <update id="boardHide" parameterType="board">
		update board
		set 
		<choose>
			<when test='#{bo_state} == "y"'>bo_state = 'n' </when>
			<when test="bo_state == 'n'">bo_state = 'y' </when>
			<otherwise>bo_state = 'y'</otherwise>
		</choose>
		where bo_num=${bo_num} 
	</update>
 -->

	<!-- 관리자 게시글 숨긴거 다시 나타내기 버튼  -->
	<update id="boardShow" parameterType="board">
		update board
		set bo_state = 'y'
		where bo_num = #{bo_num} and bo_state = 'n'
	</update>
	
	<!-- 관리자 게시글 글 내용으로 가는 페이지  -->
	<select id="boardContent" parameterType="board" resultType="board">
		select *
		from board
		where bo_num = #{bo_num}
	</select>

	<!-- 관리자페이지 통계 총 게시물 수 숫자값만 원한다면 인트형으로 한다. -->
	<select id="boardTotal" resultType="int">
		select count(*)
		from board
	</select>

	<!-- 관리자페이지 통계 오늘의 게시물 수 -->
	<select id="boardToday" resultType="int">
		select count(*)
		from board
		where TO_CHAR(bo_date,'YYYYMMDD') = TO_char(SYSDATE, 'YYYYMMDD')
	</select>

</mapper>