<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CommuMap">

	<!-- 게시들 등록 -->
	<insert id="CommunityInsert" parameterType="board">
		insert into
		board(bo_num,bo_title,bo_content,bo_date,bo_cate, mem_num)
		values(seq_board.NEXTVAL,#{bo_title},#{bo_content},sysdate,'테스트',
		#{mem_num})
	</insert>

	<!-- 게시글 목록 -->
	<select id="getBoardList" resultType="HashMap">
		select member.mem_name
		mem_name, board.bo_title bo_title,board.bo_num bo_num, board.bo_date
		bo_date
		from board
		inner join member on board.mem_num = member.mem_num order by bo_date
		desc
	</select>

	<!-- 게시글 상세페이지 -->
	<select id="boardDetail" parameterType="board" resultType="map"><!-- p= 
			getter/ r= setter -->
		SELECT bo_title, bo_content, mem_email, bo_date, mem_name,
		member.mem_num mem_num
		FROM board
		FULL OUTER JOIN member ON
		board.mem_num = member.mem_num
		WHERE board.bo_num=#{bo_num}
	</select>
	
	<!-- 게시글 수정 -->

	<select id="selectReply" resultType="board" parameterType="board">
		select * from board  
		WHERE bo_num = ${bo_num}
	</select>
	
	<!-- 게시글 수정완료 -->

	<update id="commuUpdate" parameterType="board" >
		UPDATE board SET
		bo_content = #{bo_content}, bo_title = #{bo_title}
		WHERE bo_num = #{bo_num}
	</update>
	
	<!-- 댓글 등록 -->
	<insert id="createReply" parameterType="reply">
		<!-- 현재 댓글 시퀀스 얻어오기 -->
		<selectKey keyProperty="re_num" resultType="int" order="AFTER">
			SELECT seq_reply.CURRVAL FROM DUAL
		</selectKey>
		insert into reply
		(re_num,bo_num, mem_num, re_content, re_date)
		values(seq_reply.nextval,#{bo_num},#{mem_num},#{re_content},sysdate)
	</insert>
	
	<!-- 댓글 목록 보기 -->
	<select id="getReplyList" resultType="hashmap"
		parameterType="Integer">
		select member.mem_name as
		mem_name,member.mem_num,reply.re_num,reply.re_content,reply.re_date
		from member
		inner join (select * from reply where bo_num=#{value})
		reply on
		member.mem_num = reply.mem_num order by reply.re_num desc
	</select>

	<!-- 댓글 삭제 -->
	<delete id="delReply" parameterType="int">
		delete from reply where
		re_num = #{re_num}
	</delete>
	


</mapper>
