<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MembersMAP">
	
	<update id="modifyMember" parameterType="member">
		UPDATE member SET
		mem_email = #{mem_email}, 
		mem_name = #{mem_name},
		mem_check = #{mem_check}
		<!-- 
		<choose>
			<when test="state != null">
				, state = #{state}
			</when>
			<when test="state == null">
				, state = '정상'
			</when>
		</choose>
		<if test="pic == null">
			, pic = null 
		</if>
		 -->
		WHERE mem_num = #{mem_num}
	</update>

	<select id="getMembersList" resultType="member">
		<!-- SELECT * FROM member WHERE NVL(state, 'normal') != '탈퇴' ORDER BY memnum DESC -->
		SELECT * FROM member
	</select>
	
	<select id="getMember" parameterType="member" resultType="member">
		SELECT * FROM member WHERE mem_num = #{mem_num}
	</select>
	<!-- 
	<select id="getWithdrawalList" resultType="member">
		SELECT * FROM member WHERE NVL(state, 'normal') = '탈퇴'
	</select>
 	-->
</mapper>