<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RegisterMap">

<insert id="registerJoin" parameterType="member">
	insert into member(mem_num,mem_name,mem_pass,mem_email,mem_tel)
	values(SEQ_MEMBER.nextval,#{mem_name},#{mem_pass},#{mem_email},#{mem_tel})
</insert>

<select id="login" parameterType="member" resultType="member">
	select *
	from member
	where mem_email = #{mem_email} and mem_pass= #{mem_pass}
</select>

<select id="idCheck" resultType="member">
	SELECT COUNT(*) FROM member
	WHERE mem_email = #{mem_email}
</select>


</mapper>