<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MainMap">

<!-- 정보 글 등록 -->
<insert id="writeInfo" parameterType="content">
	insert into content(con_id,con_title,con_cate,con_date,con_content)
	values(seq_content.NEXTVAL,#{con_title},#{con_cate},sysdate,#{con_content})
</insert>

<!-- 메인 슬라이더에 띄울 정보 -->
<select id="getAllContent" resultType="content">
	select * from content
</select>

<!-- // con_id 이용하여 컨텐츠 정보 가져오기(컨텐츠 상세) -->
<select id="getOneContent" parameterType="Integer" resultType="content">
	select * from content where con_id=#{con_id}
</select>

</mapper>